body
{
	line-height:1.2em;
	background-color:#171717;
	opacity:0.9;

     
}


html, body ,#startpage
{
	
	margin:0px;
	padding:0px;
	/*

	box-sizing:border-box;
   -moz-box-sizing:border-box; /* Firefox */*/
}
h1{
	text-align:center;
	font-size:40px;
	font-weight:bolder;
	-webkit-font-smoothing: antialiased;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	
}

#startpage .imgdiv{
	
	overflow:hidden;
	width:1260px;
	height:600px;
	margin-left:50px;

	margin-right: 0px;
	margin-top:20px;
	

}
img{
	border-radius:5px;
}



#startpage{
	background-size: cover;
}



.welcome
{   
	background-color:#171717;
	height:125px;
	width:350px;
	
	top:300px;
	position:absolute;
	opacity:0.8;
	z-index:100;
	
	text-align:center;
}


.welcome2
{   
	background-color:#2f3237;
	height:250px;
	width:400px;
	margin-left:50px;
	top:100px;
	left:200px;
	position:absolute;
	opacity:0.5;
	text-align:center;
	color:white;
}

.sidebar
{
	background-color:transparent;
	position:absolute;
	top:20px;
	z-index:4;
    opacity:0.8;
	float:right;
	height:40px;
	font-weight:bolder;
	margin-top:2px;
	color:white;
}